include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include stax *.css
recursive-include stax *.csv
recursive-include stax *.html
recursive-include stax *.ico
recursive-include stax *.js
recursive-include stax *.json
recursive-include stax *.md
recursive-include stax *.png
recursive-include stax *.py
recursive-include stax *.svg
recursive-include stax *.txt
recursive-exclude stax *.pyc
